body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right top, #f8dc2d, #e3e436, #ccec45, #b4f257, #9af86b, #6dfd99, #3bffc3, #00ffe6, #59f8ff, #a5edff, #d4e5fd, #e3e3e3);
    background-repeat: no-repeat;
    background-size: cover;
}