body {
    padding : 0px;
    margin : 0px;
    height: 100vh;
    padding : 0px;
    display: flex;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-image: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.background {
    display: flex;
    margin-left: 15vw;
    margin-top: 12vh;
    margin-right: 5vw;
    width: 70vw;
    height: 100vh;
    border-left: 1px solid black;
    border-right: 1px solid black;
    justify-content: center;
}

.day-title {
    margin-top :5vh;
}