.btn-container {
    position: absolute;
    left: 5%;
    top:0%;
    background-color:#86A8E7;
    box-shadow: 2px 2px 8px grey;
    display: grid;
    margin-top: 15vh;
    margin-right: 100px;
    margin-left: 0px;
    width: 150px;
    height: 220px;
    border: 2px solid black;
    border-radius: 10px;
}

.nav-title {
    opacity: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    height: 30px;
    font-size: 20px;
}

.btn {
    padding:0px;
    border:0px;
    margin:0px;
    width: 150px;
    height: 40px;
    margin-top : 0px;
    background-color: none;
}

.nav-arrow {
    height: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin:0px;
    border:0px;
    padding:0px;
    background-color: #86A8E7;
}