.msg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
}

.msg_container {
    margin-top: 50px;
    width: 1000px;
    height: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows:  repeat(3, 80px);
    grid-gap: 10px;
}

